.find-icons {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e5e5e5;
}

.find-icons_icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.find-icons_icon i {
  font-size: 30px;
}

.find-icons_icon span {
  margin-top: 20px;
}
